.wrapper {
    width: 80%;
    min-height: 800px;
    margin: 0 auto;
    background-color: antiquewhite;

    .inputWraper {
        display: flex;
        justify-content: center;
        padding: 24px 0;
    }

    .content {
        width: 386px;
        margin: 0 auto;
        background-color: azure;
        font-size: 16px;
        font-weight: bold;
        color: #666;
    }
}
